body, html {
    height: 100%;
    margin: 0;
    gap: 20px;
}
header {
    display: flex;
    padding: 20px;
    gap: 10px;
    position: fixed;
    top: 10%;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 25px;
    flex-direction: row;
    list-style: none;
}
#layout {
    display: flex;
    padding: 20px;
    gap: 15px;
    border: 1px solid black;
    height: fit-content;
    background-color: #FAF9F7;
}
#card1 {
    position: sticky;
    left: 0;
    top: 0;
    border: 1px solid black;
    width: 500px;
    height: 700px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#D6CBBE,#FAF9F7);
}

#pro-pic {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: white;
}
#pro-card {
    width: 350px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;

}
.pro-info {
    text-align: center;
}
.pro-info hr {
    width: 300px;
    margin-bottom: 0%;
}
.pro-info p { 
    margin-top: 0%;
}

#card2 {  
    width: fit-content;
    padding: 20px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.info-card {
    border: 1px solid black;
    width: 550px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
}
.data {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
}
.head1 {
    padding: 5px;
    background-color: #D6CBBE;
    margin-top: 0%;
    text-align: center;
}
.data-card {
    padding: 20px;
}

